.hero {
  &__content {
    padding: $mobilePadding;
    background-color: $creamBgc;
    color: $darkFont;

    .hero__title {
      margin-top: 16px;
      font-family: $fontFamilyMont;
      font-weight: 500;
    }
    .hero__info {
      width: 100%;
      margin: 20px 0;
      font-family: $fontFamilyInter;
    }
    .hero__buttons-container {
      @include flexContainer(column, space-between, center);
      gap: 16px;
      .hero__btn-contact {
        background-color: $basicGreen;
        color: $lightFont;
      }
      .hero__btn-realizations {
        background-color: transparent;
        border: 1px solid $basicGreen;
        color: $basicGreen;
        box-shadow: 0 1px 1px $basicGreen;
        .lnr-arrow-down {
          color: $basicGreen;
          font-weight: 500;
        }
      }
    }
  }
  &__image-container {
    position: relative;
    overflow: hidden;

    .hero__image {
      width: 100%;
      transform: scale(1.03);
      animation: headerImgZoom 10s linear infinite alternate;
    }
    .hero__arrows {
      @include flexContainer(row, space-evenly, center);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 15%;
      background-color: $lightFont;
    }
    .lnr {
      font-size: 20px;
      font-weight: 600;
      color: #000;
      cursor: pointer;
    }
  }
}
@keyframes headerImgZoom {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.3);
  }
}

@media (min-width: $small) {
  .hero {
    &__content {
      padding: $mobilePadding (2 * $mobilePadding);
      .hero__title {
        margin-top: 32px;
      }
      .hero__info {
        margin: 40px 0;
      }
      .hero__buttons-container {
        @include flexContainer(row, space-evenly, center);
        margin-bottom: 20px;
      }
    }
    &__image-container {
      .lnr {
        font-size: 24px;
      }
    }
  }
}
@media (min-width: $medium) {
  .hero {
    @include flexContainer(row, center, center);
    height: 60vw;
    &__content {
      @include flexContainer(column, center, flex-start);
      height: 100%;
      flex-basis: 50%;
      .hero__title {
        font-size: 2.5em;
      }
      .hero__info {
        width: 100%;
        margin: 50px 0;
      }
      .hero__buttons-container {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
      }
    }
    &__image-container {
      flex-basis: 50%;
      height: 100%;
      .hero__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .lnr {
        font-size: 26px;
      }
    }
  }
}
@media (min-width: $xLarge) {
  .hero {
    &__content {
      padding-left: 40px;
      padding-right: 100px;
      .hero__title {
        font-size: 50px;
      }

      .hero__buttons-container {
        gap: 30px;
        .hero__btn-contact {
          padding: 16px 24px;
          border-radius: 32px;
        }
        .hero__btn-realizations {
          padding: 12px 32px;
          border-radius: 32px;
        }
      }
    }
  }
}
@media (min-width: $xXLarge) {
  .hero {
    height: 45vw;

    &__content {
      padding-left: 60px;
      padding-right: 130px;
      .hero__title {
        font-size: 60px;
      }
    }
  }
}
