.main-container {
  padding: calc(2 * $mobilePadding) 0;
  background-color: $lightFont;
  font-family: $fontFamilyInter;
  .offer {
    padding: $mobilePadding;
    color: $darkFont;
  }
  .offer,
  .about,
  .realizations {
    .section__nav-title {
      font-size: 12px;
    }
    &__nav-title {
      color: $basicGreen;
    }
    .section__title {
      margin: 12px 0;
      font-family: $fontFamilyMont;
      font-size: 26px;
      font-weight: 500;
      span {
        font-style: italic;
      }
    }
  }
  .offer {
    &__cards {
      @include flexContainer(column, center, flex-start);
      row-gap: 16px;
      color: $darkFont;
      .card {
        padding: 30px 24px;
        border-radius: 28px;
        background-color: #fff;
        &__image-container {
          @include flexContainer(row, center, center);
          width: 30px;
          height: 30px;
        }
        &__image {
          width: 100%;
        }
        &__title {
          font-family: $fontFamilyMont;
          font-weight: 500;
          margin: 18px 0 10px;
        }
        &__info {
          font-size: 13px;
        }
        &__button,
        span {
          color: $basicGreen;
          font-size: 16px;
        }
        &__button {
          @include flexContainer(row, auto, center);
          column-gap: 8px;
          padding: 4px 0;
          margin: 18px 0 0;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid $basicGreen;
          cursor: pointer;
          transition: 0.3s;
          span {
            font-size: 16px;
            font-weight: 500;
          }
        }
        &__button:hover {
          transform: translateX(10px);
        }
      }
    }
  }
  .about {
    @include flexContainer(column, center, flex-start);
    color: $lightFont;
    &__image-container {
      overflow: hidden;
      .about__image {
        width: 100%;
        transform: scale(1.03);
      }
    }
    &__info {
      background-color: $basicGreen;
      padding: calc(2 * $mobilePadding) $mobilePadding;
      .about__nav-title {
        color: $lightFont;
      }
      .about__btn {
        @include flexContainer(row, auto, flex-end);
        column-gap: 8px;
        border: 1px solid $lightFont;
        margin-top: 20px;
        background-color: transparent;
        color: $lightFont;
        span {
          font-weight: 500;
        }
      }
    }
  }
  .realizations {
    position: relative;
    background-color: $creamBgc;
    &__info {
      padding: calc(3 * $mobilePadding) $mobilePadding calc(2 * $mobilePadding);
    }
    &__gallery {
      position: relative;
      transition: 1s;
      .photo-container {
        height: auto;
        transition: 1s;
        .realizations__img {
          width: 100%;
          height: 100%;
        }
      }
      .photo-container.hidden {
        // display: none;
        height: 0;
      }
    }

    &__gallery-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(220, 193, 171, 1) 12%,
        rgba(220, 193, 171, 0.908000700280112) 23%,
        rgba(220, 193, 171, 0.8015581232492998) 37%,
        rgba(220, 193, 171, 0.5466561624649859) 56%,
        rgba(220, 193, 171, 0.4318102240896359) 80%,
        rgba(220, 193, 171, 0.03125) 91%
      );
      transition: 0.1s;
    }
    &__gallery-overlay.hide {
      opacity: 0;
      display: none;
    }
    &__btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      @include flexContainer(row, center, center);
      gap: 5px;
      background-color: $basicGreen;
      color: $lightFont;
      border: 1px solid $basicGreen;
      span {
        display: block;
        transition: 0.3s;
      }
    }
    &__btn:hover {
      bottom: 38px;
    }

    &__btn.expanded {
      span {
        transform: rotate(180deg);
      }
    }
    // button need change colors on mobile views !!
  }
  .instagram {
    @include flexContainer(column, center, flex-start);
    row-gap: 26px;
    margin: 20px 0 0;
    padding: 30px $mobilePadding;
    background-color: $basicGreen;
    color: $lightFont;
    &__info {
      font-family: $fontFamilyMont;
      font-weight: 400;
      // letter-spacing: 0;
      span {
        font-weight: 500;
        font-style: italic;
        letter-spacing: 1px;
      }
    }
    &__follow {
      margin: 0 auto;
      text-align: center;
      &-text {
        font-size: 12px;
      }
      .instagram__btn {
        margin-top: 14px;
        background-color: $lightFont;
        color: $basicGreen;
      }
    }
  }
}
.offer > div {
  margin: 16px 0 20px;
}

@media (min-width: $small) {
  .main-container {
    .offer {
      &__cards {
        @include flexContainer(column, center, center);
        .card {
          width: 70%;
        }
      }
    }
    .about {
      &__info {
        padding: calc(3 * $mobilePadding) $mobilePadding;
      }
      &__image-container {
        width: 100%;
        overflow: hidden;
        .about__image {
          width: 100%;
          transform: scale(1.03);
        }
      }
    }
    //
    .instagram {
      @include flexContainer(row, center, flex-start);
      padding: calc(6 * $mobilePadding) $mobilePadding;
      &__follow {
        margin: 0;
        flex-basis: 40%;
      }
    }
  }
}
@media (min-width: $medium) {
  .main-container {
    .offer {
      &__cards {
        @include flexContainer(column, center, center);
        .card {
          max-width: 55%;
        }
      }
    }
    .about {
      height: 50vw;
      @include flexContainer(row, center, center);
      &__image-container {
        flex-basis: 50%;
        height: 100%;
        .about__image {
          height: 100%;
          object-fit: cover;
        }
      }
      &__info {
        @include flexContainer(column, center, flex-start);
        flex-basis: 50%;
        height: 100%;
        padding: calc(2 * $mobilePadding) calc(3 * $mobilePadding);
      }
    }
    .instagram {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  }
}
@media (min-width: $large) {
  .main-container {
    .offer,
    .about,
    .realizations {
      .section__title {
        font-size: 32px;
      }
    }
    .offer {
      padding-bottom: 120px;
      &__info {
        margin: 60px auto;
        width: 70%;
      }
      &__cards {
        @include flexContainer(row, center, center);
        gap: 40px;
        .card {
          width: 27%;
          padding-top: 40px;
          padding-bottom: 40px;
          &__image-container {
            width: 38px;
            height: 38px;
          }
          &__title {
            font-size: 24px;
            margin-top: 28px;
          }
          &__info {
            font-size: 14px;
          }
          &__button {
            margin: 38px 0 0;
          }
        }
      }
    }
    .about {
      &__info {
        padding-left: calc(8 * $mobilePadding);
      }
      &__info-text {
        margin: 30px 0;
      }
    }
    .realizations {
      &__info {
        padding: 120px 0 90px;
        width: 80%;
        margin: 0 auto;
      }
      &__btn {
        background-color: transparent;
        color: $darkFont;
        border-color: $darkFont;
      }
    }
    .instagram {
      align-items: center;
      margin-top: 26px;
      padding: 90px 60px;

      &__info {
        font-size: 30px;
      }
      &__follow {
        margin: 0 auto;
        text-align: center;
        &-text {
          font-size: 12px;
        }
        .instagram__btn {
          margin-top: 14px;
          background-color: $lightFont;
          color: $basicGreen;
        }
      }
    }
  }
}
@media (min-width: $xXLarge) {
  .main-container {
    .offer,
    .about,
    .realizations {
      .section__title {
        font-size: 48px;
      }
    }
    .offer {
      padding-bottom: 120px;
      &__info {
        margin: 94px auto 96px 15%;
        width: 50%;
      }
      &__cards {
        gap: 64px;
        .card {
          padding-top: 48px;
          padding-bottom: 48px;
          &__image-container {
            width: 40px;
            height: 40px;
          }
          &__title {
            font-size: 28px;
            margin-top: 32px;
            margin-bottom: 12px;
          }

          &__button {
            margin: 50px 0 0;
          }
        }
      }
    }
    .about {
      height: 40vw;
      &__info {
        padding-left: calc(8 * $mobilePadding);
        padding-right: 110px;
        &-text {
          margin: 28px 0 72px;
        }
        .about__btn {
          padding-top: 13px;
          padding-bottom: 13px;
          font-size: 16px;
          span {
            font-size: 18px;
          }
        }
      }
    }

    .instagram {
      padding: 120px 110px;
      margin-top: 60px;
      margin-bottom: 36px;
      justify-content: space-around;

      &__info {
        font-size: 40px;
      }
      &__follow {
        text-align: left;
        flex-basis: 18%;
        margin: 0;
        &-text {
          font-size: 16px;
        }
        .instagram__btn {
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
  }
}

//MAX WIDTH NA CALOSC!!! zeby zachowac siatke???
