.nav {
  @include flexContainer(row, space-between, center);
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100vw;
  padding: $mobilePadding;
  background-color: #fff;
  &__logo-container {
    @include flexContainer(row, center, center);
    // border: 3px solid blue;
    .nav__logo {
      width: 100%;
      height: 100%;
    }
  }
  &__hamburger {
    position: relative;
    width: 36px;
    height: 26px;
    transition: 0.3s;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 4px;
      width: 36px;
      background-color: #000;
      border-radius: 3px;
      opacity: 1;
    }
    span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    span:nth-last-child(1) {
      top: 100%;
      transform: translateY(-100%);
    }
  }
  &__hamburger.active {
    transform: rotate(180deg);
  }
  &__list {
    position: fixed;
    top: 0;
    left: -101%;
    z-index: 7;
    list-style: none;
    font-family: $fontFamilyInter;
    height: 100vh;
    width: 80vw;
    padding: $mobilePadding;
    background-color: $lightFont;
    color: $darkFont;
    transition: 1s;

    // display: none;
    .nav__item {
      margin: 10px 0;
    }
    .nav__search-container {
      .nav__input--disabled {
        // transform: translateX(-100%);
        display: none;
      }
    }
  }
  &__list.active {
    left: 0;
  }
}
.blur-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
}
