// Colors

$creamBgc: #dcc1ab;
$darkFont: #111111;
$lightFont: #f5f0ec;
$basicGreen: #1b5b31;
$bgcGradStart: rgba(220, 193, 171, 0.1);
$bgcGradEnd: rgba(220, 193, 171, 0.6);

//Font size

$fontSize: 16px;

//Font family
$fontFamilyInter: "Inter", sans-serif;
$fontFamilyMont: "Montserrat", sans-serif;

//Font Inter Weights:400, 500
//Font Montserrat Weight: 500

//Mobile padding value
$mobilePadding: 12px;

// Media, breakpoints
$xXSmall: 360px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;
$xXLarge: 1400px;
