@import "variables";
@import "mixins";
@import "wrapper";
@import "nav";
@import "header";
@import "main";
@import "footer";
@import "simple-lightbox";
//standard style reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//global buttons configuration

.btn {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  font-family: $fontFamilyInter;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover:not(.realizations__btn) {
  transform: scale(1.08);
}
@media (min-width: $xXLarge) {
  .btn {
    padding: 16px 24px;
    border-radius: 32px;
  }
}
